/***********/
/* GENERAL */
/***********/

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow: overlay;
  scroll-behavior: smooth;
}

.body.scrolled {
  padding-top: 100px;
}

hr.title-div {
  margin-top: 0;
  margin-bottom: 15px;
  color: rgb(145, 145, 145);
}

hr.subtitle-div {
  margin-top: 0;
  margin-bottom: 15px;
  color: rgb(145, 145, 145);
  width: 80%;
}

/**********/
/* NAVBAR */
/**********/

#navbar {
  height: 100px;
}

#nav-list {
  border-bottom: 1px solid rgb(138, 138, 138);
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav.scrolled {
  border-bottom: 0 !important;
}

.nav-item {
  margin: 5px 30px 5px 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.fixed-top {
  background-color: rgba(255, 255, 255, 0) !important;
  transition: background-color 500ms linear;
}

.fixed-top.scrolled {
  background-color: rgb(255, 255, 255) !important;
  transition: background-color 500ms linear;
}

.fixed-top.scrolled a {
  color: black !important;
}

/***********/
/* PREFACE */
/***********/

#profile {
  width: 100%;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 50%;
}

#profile:hover {
  filter: brightness(85%);
  border: 6px solid rgb(218, 218, 218);
}

#preface {
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  background-size: 100%;
  width: 100%;
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
}

#preface-content {
  height: 100%;
  width: 50%;
  min-width: 320px;
  color: rgb(255, 255, 255);
}

#profile-mobile {
  width: 70%;
  min-width: 200px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 500px) {
  #profile-mobile {
    display: none;
  }

  #title-mobile {
    display: none;
  }
}

@media (max-width: 499px) {
  #preface {
    min-width: 320px;
    min-height: 100vh;
    max-height: 100vh;
    background-size: 50%;
    width: 100%;
    background: url("../img/forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
  }

  #navbar {
    display: none;
  }

  #profile {
    display: none;
  }

  #title-landscape {
    display: none;
  }
}

/****************/
/* MAIN CONTENT */
/****************/

#content {
  min-width: 370px;
  width: 40%;
}

.title-text {
  font-size: 2.5em;
  text-transform: uppercase;
}

.subtitle-text {
  font-size: 1.5;
  font-weight: 400;
  text-transform: uppercase;
}

.section {
  padding-top: 130px;
}

.section p {
  font-size: 1.5em;
  text-align: justify;
}

.list-group {
  width: 80% !important;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

/**********/
/* FOOTER */
/**********/

#footer {
  background-color: #3e3e42;
  padding: 35px;
  color: white;
  margin-top: 150px;
}

#footer-content {
  width: 40%;
}

#social-links {
  list-style: none;
  padding-left: 0;
  font-size: larger;
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: rgb(197, 197, 197);
}

/* selected link */
a:active {
  color: rgb(197, 197, 197);
}
